body {
    margin: 0;
    background-color: #1a1a1a;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 20px;
    text-align: center;
    right: 0;
    left: 0;
}

.bar {
    width: 33%;
    min-width: 350px;
    margin: 0 auto;
}

.btns, .chks {
    text-align: center;
}

.btns {
    padding-top: 8px;
}

.cdraw {
    display: inline-block;
    width: 350px;
    height: 350px;
}

#cvs-area {
    padding: 32px 0;
    text-align: center;
}

.autodraw {
    animation: adraw 1s linear forwards;
}

@keyframes adraw {
    to {
        stroke-dashoffset: 0;
    }
}

#anim-over {
    position: absolute;
    visibility: hidden;
    width: 350px;
    height: 350px;
    z-index: 100;
}

#grid-under {
    position: absolute;
    z-index: -100;
    opacity: 0.6;
}